<form class="padded" id="signup-form" onsubmit="return false">
    <div>
        <input id="firstName" name="firstName" placeholder="First name" required title="firstName" type="text">
    </div>
    <div>
        <input id="lastName" name="lastName" placeholder="Last name" required title="lastName" type="text">
    </div>
    <div>
        <input id="email" name="email" placeholder="Email" required title="email" type="email">
    </div>
    <div>
        <input id="password" name="password" placeholder="Password" required title="password" type="password">
    </div>
    <div>
        <input id="phoneNumber" name="phoneNumber" placeholder="Phone number" required title="phoneNumber" type="text">
    </div>
    <div>
        <input id="streetAddress" name="streetAddress" placeholder="Street address" required title="streetAddress"
               type="text">
    </div>
    <div>
        <input id="postalArea" name="postalArea" placeholder="Postal area" required title="postalArea" type="text">
    </div>
    <div>
        <input id="postalCode" name="postalCode" placeholder="Postal code" required title="postalCode" type="text">
    </div>
    <div>
        <input onclick="handleSignUp(this.form)" type="button" value="Sign up">
    </div>
</form>
